<div class="booyah-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'alien.png', class: "alien" %>
    </div>

    <div class="col-8">
      <h1>My Profile</h1>
      <h2><%= @user.email %></h2>
      <h3>Singing Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    </div>
  </div>
  <div class="clr"></div>

  <h2 class="text-center">My Lyrics</h2>
<% @user.lyrics.each do |lyric| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to lyric.title, owner_lyric_path(@lyric) %></h1><br />
    <i><%= lyric.artist %></i><br />
    <% end %>
</div>

